## Practical Questions

### 1. Write a code to create a string with your name and print it.

In [1]:
name = 'Ankit'
print ('My name is ', name)

My name is  Ankit

####
### 2. Write a code to find the length of the string "Hello World".

In [3]:
str = "Hello World"
len(str)

11

####
### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
str = "Python Programming"
sliced = str[:3]
print(sliced)

Pyt

####
### 4. Write a code to convert the string "hello" to uppercase.

In [6]:
str = "hello"
str.upper()

'HELLO'

####
### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [9]:
str = "I like apple"
str.replace('apple', 'orange')

'I like orange'

####
### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [10]:
for i in range(1,6):
    print(i)

1
2
3
4
5

####
### 7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
l1 = [1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

####
### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [16]:
l1 = [1,2,3,4,5]
l1.remove(3)
print(l1)

[1, 2, 4, 5]

####
### 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [17]:
l1 = ['a', 'b', 'c', 'd']
print(l1[1])

b

####
### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [22]:
l1 = [10, 20, 30, 40, 50]
l1.reverse()
print(l1)

l2 = [10, 20, 30, 40, 50]
l2[::-1]

[50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

####
### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [23]:
l = (100,200,300)
print(l)

(100, 200, 300)

####
### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [24]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

####
### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [26]:
l1 = (10,20,5,15)
print(min(l1))

5

####
### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

####
### 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [31]:
fruits = ('apple', 'orange', 'kiwi', 'dragon fruit')
print('kiwi' in fruits)

True

####
###  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [32]:
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

####
### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [33]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

####
### 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [36]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

####
### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [38]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

union_set = s1 | s2
print(union_set)

{1, 2, 3, 4, 5}

####
### 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [39]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

intersection_set = s1 & s2
print(intersection_set)

{2, 3}

####
### 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [40]:
my_dict = {
    'name': 'Ankit',
    'age': 27,
    'city': 'Kolkata'
}
print(my_dict)

{'name': 'Ankit', 'age': 27, 'city': 'Kolkata'}

####
### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [41]:
dict1 = {
    'name': 'John',
    'age': 25
}

dict1['country'] = 'USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

####
### 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [42]:
dict1 = {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

####
### 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [44]:
my_d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_d.pop('age')
print(my_d)

{'name': 'Bob', 'city': 'New York'}

####
### 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
dic2 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dic2)

True

####
### 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
my_list = [1, 2, 3]

my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

####
### 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [53]:
import random 

list1 = [random.randint(1,100) for i in range(5) ]
list1.sort()

print('Sorted List: ', list1)

Sorted List:  [14, 19, 52, 81, 88]

####
### 28. Write a code to create a list with strings and print the element at the third index.

In [55]:
str1 = ['Ankit', 'Raju', 'Viswanathan', 'Suresh']
print(str1[3])

Suresh

####
### 29. Write a code to combine two dictionaries into one and print the result.

In [56]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = dict1 | dict2
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

####
### 30. Write a code to convert a list of strings into a set.

In [59]:
str1 = ['Ankit', 'Raju', 'Viswanathan', 'Suresh', 'Raju', 'Suresh']
set1 = set(str1)
print(set1)

{'Raju', 'Ankit', 'Viswanathan', 'Suresh'}